.zoom {
  transition: transform .3s; /* Animation */
}

.zoom:hover {
  transform: scale(1.07);
}

@media (min-width: 1500px) {
    .container{
        max-width: 1480px;
    }
}

.font1, .card-title, h1, h2, h3 {
	font-family: 'Marcellus SC', serif;
}

body {
	font-family: 'Marcellus', serif;
	background: #f0eceb;
	overflow-x: hidden;
}

.bg-grad-r, .bg-grad {
 background-image: linear-gradient(to right, #00053b, #003b70, #0071a0, #23aac7, #71e4e9);
 }

.bg-grad-b {
background-image: linear-gradient(to bottom, #00053b, #051943, #152749, #26354f, #384353);
}

.banner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  margin: -7px;
  filter: blur(4px);
}
@media (min-width: 768px) {
.banner {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-height: 100%; z-index: 1;
}

html {
  scroll-behavior: smooth;
}

article p {
  padding-left: 30px;
}

.btn-icon {
	border-radius: 5px;
	padding-left: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}